@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --sign-font: "Pixelify Sans", arial, sans-serif;
    --link-font: "Titillium Web", arial, sans-serif;
    --title-font: "Anton", arial, sans-serif;
    --p--font: "Roboto Mono", monospace, arial, sans-serif;
    --gap: 45px;
    --transition-time: .3s ease;
    --cor1: #000;
    --cor2: #fff;
}

body {
    position: relative;
}

body.no-scroll {
    overflow: hidden;
}

body p {
    font-family: var(--p--font);
    font-size: .9rem;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #00000099;
    backdrop-filter: blur(3px);
}

.ticker {
    display: flex;
    gap: var(--gap);
    padding-block: .2rem;
    font-size: .9rem;
    user-select: none;
    overflow: hidden;
    border: 1px solid;
    background-color: var(--cor1);
}

.ticker ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-shrink: 0;
    min-width: 100%;
    list-style: none;
    animation: scroll 20s linear infinite;
}

.ticker:hover ul {
    animation-play-state: paused;
}

.ticker ul a {
    font-family: var(--sign-font);
    text-decoration: none;
    font-weight: 600;
    color: #ccc;
}

.ticker ul a:hover {
    color: var(--cor2);
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: .3rem .8rem;
    z-index: 99;
    background: var(--cor2);
}

.title h1 {
    font-family: var(--title-font);
    font-size: 8vw;
    font-weight: normal;
}

.menu-icon button {
    padding: .35rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.login button {
    width: 70px;
    padding: .3rem;
    font-size: .9rem;
    font-weight: 600;
    outline: none;
    border: 1px solid;
    cursor: pointer;
    background-color: transparent;
    transition: var(--transition-time);
}

.login button:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

.login button:active {
    background-color: #636161;
}

.side-menu {
    position: absolute;
    top: 0;
    left: -19rem;
    width: 19rem;
    height: 100%;
    overflow: hidden;
    border: 1px solid;
    z-index: 999;
    background-color: var(--cor2);
    transition: left .5s ease;
}

.side-menu nav {
    position: fixed;
}

.side-menu ul {
    list-style: none;
    margin: 2.5rem 1rem;
}

.side-menu h2 {
    padding: 5px 0;
}

.side-menu li {
    padding: 5px;
}

.side-menu a {
    text-decoration: none;
    color: var(--cor1);
}

.side-menu a:hover {
    text-decoration: underline;
}

main, #exclusive, .hero-brand {
    overflow: hidden;
}

main h2 {
    height: 200px;
    line-height: 200px;
    font-family: var(--title-font);
    font-size: 20vw;
    font-weight: normal;
    text-align: center;
    color: var(--cor2);
    background-color: var(--cor1);
}

#login-screen {
    display: none;
    position: fixed;
    width: 70%;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: var(--cor2);
}

#login-screen h1, p {
    text-align: center;
}

#login-screen form {
    display: flex;
    flex-direction: column;
}

#exit-btn {
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

#input-form {
    border-top: 1px solid;
}

#input-form h1 {
    font-size: 3.5rem;
}

#input-form input {
    font-size: 1rem;
    padding: 10px 15px;
    margin: 10px 15px;
    outline: none;
}

#input-btn {
    height: 50px;
    text-align: center;
}

#input-btn button {
    width: 91%;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: var(--transition-time);
}

#input-btn button:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

#social-media {
    margin-block-start: 20px;
    text-align: center;
}

#social-media a {
    padding: 5px 10px;
    margin-inline: .2rem;
    font-size: 1.5rem;
    border: 1px solid;
    color: var(--cor1);
}

.hero {
    height: 100dvh;
    background: var(--cor1) url(../imagens/hero-back.jpg) no-repeat;
    background-size: cover;
}

#exclusive {
    background-color: var(--cor1);
}

.exclusive-box {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    border: 1px solid;
}

.exclusive-box .item {
    position: relative;
    height: 400px;
    padding: 20px 10px;

    text-align: center;
    background-color: var(--cor2);
}

.exclusive-box .item img {
    width: 90%;
    height: 280px;
}

#exclusive .item .desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 5px;
}

#exclusive .item a {
    text-decoration: none;
    color: var(--cor1);
}

#exclusive .item button {
    padding: 5px 15px;
    font-weight: 500;
    border: 1px solid;
    cursor: pointer;
    background-color: transparent;
}

.hero-brand {
    height: 100dvh;
    background: var(--cor1) url(../imagens/hero-back2.jpg) no-repeat;
    background-size: cover;
}

.brand {
    width: 85%;
    margin-block: 10px;
    padding: 10px;
    border: 1px solid;
    background-color: var(--cor2);
}

.brand img {
    width: 100%;
}

.brand h3 {
    margin-block-end: 5px;
}

.brand p {
    font-size: .8rem;
}

.brand button {
    padding: 5px 15px;
    margin-block-start: 10px;
    font-weight: 500;
    border: 1px solid;
    cursor: pointer;
    background-color: transparent;
}

footer {
    text-align: center;
    line-height: 190px;
    background-color: var(--cor1);
}

footer a {
    font-size: 1rem;
    text-decoration: none;
    color: #ccc;
}

footer a:hover{
    color: var(--cor2);
}
